* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  background-color: #e5e5e5;
}

.nav {
  background-color: #ffffff;
  width: 100%;
  height: 100px;
}

.nav__h1 {
  width: 40%;
  color: #08a6e4;
  font-family: "Raleway";
  font-style: normal;
  font-size: 16px;
  float: left;
  position: relative;
  margin: 30px;
  margin-left: 20px;
}

.nav__img {
  width: 40%;
  float: right;
  position: relative;
  margin-top: 30px;
}

.nav__img img {
  width: 20px;
  margin-left: 70%;
}

.nav__menu {
  display: none;
}

hr {
  width: 100%;
  background-color: lightgrey;
}

.container {
  text-align: center;
  background-color: white;
}

.container__title {
  font-family: "Raleway";
  font-size: 30px;
  padding-top: 50px;
}

.container__body {
  font-family: "Raleway";
  font-size: 15px;
  margin: 30px;
}

.container__button {
  width: 50%;
  padding: 15px;
  border-radius: 60px;
  border: none;
  background-color: #08a6e4;
  -webkit-box-shadow: 5px 5px 5px #08a6e4;
          box-shadow: 5px 5px 5px #08a6e4;
  color: whitesmoke;
  font-weight: 600;
  margin-bottom: 20px;
}

.container__img {
  width: 100%;
  margin-left: 0;
}

.container__text {
  font-family: "Raleway";
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}

.icons {
  background-color: white;
  width: 100%;
  padding-bottom: 20px;
}

.icons__person {
  padding: 20px;
}

.icons__person--img {
  position: relative;
  background-color: #fb3b64;
  margin-left: 40%;
  margin-right: 20%;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.icons__person--img .face {
  width: 60%;
  margin-top: 10%;
  margin-left: 55%;
}

.icons__person--inform {
  text-align: center;
}

.icons__person--inform .numberPerson {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 20px;
  margin-top: 10%;
  text-align: center;
}

.icons__person--inform .textPerson {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
}

.icons__eye {
  padding: 20px;
  margin-bottom: 10%;
}

.icons__eye--img {
  position: relative;
  background-color: #08a6e4;
  margin-left: 40%;
  margin-right: 20%;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.icons__eye--img .eye {
  width: 80%;
  margin-top: 30%;
  margin-left: 40%;
}

.icons__eye--inform {
  text-align: center;
}

.icons__eye--inform .numberEye {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 20px;
  margin-top: 10%;
}

.icons__eye--inform .textEye {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
}

.icons__catalogo {
  padding: 20px;
  margin-bottom: 10%;
}

.icons__catalogo--img {
  position: relative;
  background-color: #55dfb4;
  margin-left: 40%;
  margin-right: 20%;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.icons__catalogo--img .catalogo {
  width: 80%;
  margin-top: 10%;
  margin-left: 60%;
}

.icons__catalogo--inform {
  text-align: center;
}

.icons__catalogo--inform .numberCatalogo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 20px;
  margin-top: 10%;
}

.icons__catalogo--inform .textCatalogo {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
}

.firstContainer {
  background-color: white;
  width: 80%;
  padding: 20px;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 15%;
}

.firstContainer__image {
  width: 100%;
  position: relative;
  margin-top: 40px;
}

.firstContainer__image--color {
  position: absolute;
  background-color: #fb3b64;
  width: 30%;
  height: 50%;
  border-radius: 42px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: 60%;
  padding: 20px;
}

.firstContainer__image .imageSecond {
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.firstContainer__content .title {
  font-family: "Raleway";
  font-size: 30px;
  margin-left: 20px;
}

.firstContainer__content .text {
  font-family: "Raleway";
  font-size: 14px;
  margin: 15px;
  padding-bottom: 20px;
}

.secondContainer {
  background-color: white;
  width: 80%;
  padding: 20px;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 15%;
}

.secondContainer__image {
  margin-left: 10%;
  margin-bottom: 10%;
  padding-top: 20px;
  background-color: #08a6e4;
  width: 80%;
  border-radius: 50%;
}

.secondContainer__image .imageSecond {
  width: 100%;
  margin-left: 15%;
  margin-top: 30px;
}

.secondContainer__content .title {
  font-family: "Raleway";
  font-size: 30px;
  margin-left: 20px;
}

.secondContainer__content .text {
  font-family: "Raleway";
  font-size: 14px;
  margin: 15px;
  padding-bottom: 20px;
  text-align: justify;
}

.thirdContainer {
  background-color: white;
  width: 80%;
  padding: 20px;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 15%;
}

.thirdContainer__content .title {
  padding-top: 20px;
  font-family: "Raleway";
  font-size: 30px;
  margin-left: 20px;
}

.thirdContainer__content .text {
  font-family: "Raleway";
  font-size: 14px;
  margin: 15px;
}

.thirdContainer__image .img {
  width: 100%;
  margin: 0;
  background-color: #55dfb4;
}

.price {
  width: 100%;
  margin-top: 20px;
  padding-top: 30px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price h3 {
  font-family: "Raleway";
  font-size: 30px;
  text-align: center;
  font-weight: 400;
}

.finishContainer {
  background-color: white;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.finishContainer .containerNormal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 275px;
  height: 200px;
  border: 2px solid #fb3b64;
  border-radius: 18px;
  margin-top: 20px;
  margin-left: 10%;
}

.finishContainer .containerNormal:hover {
  -webkit-box-shadow: 2px 2px 2px 2px #fb3b64;
          box-shadow: 2px 2px 2px 2px #fb3b64;
}

.finishContainer .containerNormal .leftCon {
  width: 100px;
  height: 75px;
  margin-top: 20%;
  margin-left: 10%;
  text-align: center;
}

.finishContainer .containerNormal .leftCon .title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.finishContainer .containerNormal .leftCon .amount {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 30px;
  color: #fb3b64;
}

.finishContainer .containerNormal .content {
  width: 175px;
  height: 175px;
  margin-top: 10px;
}

.finishContainer .containerNormal .content p {
  margin-left: 20px;
  margin-top: 10px;
  font-family: "Raleway";
  font-size: 12px;
}

.finishContainer .containerNormal .buttonNormal {
  position: absolute;
  background-color: #fb3b64;
  width: 100px;
  height: 30px;
  bottom: 0;
  left: 40%;
  margin-left: -25px;
  border-radius: 18px;
  border: 1px solid #fb3b64;
  color: white;
}

.finishContainer .containerBlue {
  border: 2px solid #08a6e4;
}

.finishContainer .containerBlue:hover {
  -webkit-box-shadow: 2px 2px 5px 2px #08a6e4;
          box-shadow: 2px 2px 5px 2px #08a6e4;
}

.finishContainer .containerBlue .leftCon .amount {
  color: #08a6e4;
}

.finishContainer .containerBlue .buttonBlue {
  background-color: #08a6e4;
  border: 1px solid #08a6e4;
}

.finishContainer .containerGreen {
  border: 2px solid #55dfb4;
}

.finishContainer .containerGreen:hover {
  -webkit-box-shadow: 2px 2px 2px 2px #55dfb4;
          box-shadow: 2px 2px 2px 2px #55dfb4;
}

.finishContainer .containerGreen .leftCon .amount {
  color: #55dfb4;
}

.finishContainer .containerGreen .buttonGreen {
  background-color: #55dfb4;
  border: 1px solid #55dfb4;
}

.information {
  width: 100%;
  background-color: white;
  margin-top: 0;
  padding: 10px;
}

.information .infoPersonal .contact {
  width: 300px;
  margin: 30px;
}

.information .infoPersonal .contact .other {
  font-family: "Open Sans";
  color: black;
  margin: 10px;
}

.information .infoPersonal .infor {
  width: 300px;
  margin: 30px;
  font-family: "Open Sans";
}

.information form {
  width: 100%;
  padding: 30px;
  background-color: white;
}

.information form ul {
  list-style: none;
}

.information form ul label {
  display: block;
  padding-bottom: 20px;
  border: none;
  font-family: "Raleway";
  font-size: 12px;
  color: #08a6e4;
}

.information form ul input {
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}

.information form ul .dataProtection {
  margin-right: 30px;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-size: 10px;
}

.information form ul .buttonSend {
  margin-left: 30%;
  margin-bottom: 30px;
  padding-bottom: 60px;
}

.information form ul .buttonSend button {
  background-color: #08a6e4;
  width: 150px;
  height: 30px;
  bottom: 0;
  left: 40%;
  margin-left: -25px;
  border-radius: 18px;
  border: 1px solid #08a6e4;
  color: white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 80px;
  background-color: white;
}

footer .footerText {
  position: absolute;
  margin-top: 30px;
  width: 50%;
  height: 70px;
  margin-left: 5%;
}

footer .footerText h1 {
  color: #08a6e4;
  font-family: "Raleway";
  font-style: normal;
  font-size: 16px;
  margin-left: 20px;
}

footer .footerText p {
  margin-left: 20px;
  font-family: "Raleway";
  font-size: 8px;
}

footer .logos {
  position: absolute;
  width: 50%;
  margin-top: 30px;
  margin-left: 80%;
}

@media only screen and (min-width: 992px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__img {
    display: none;
  }
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: 15%;
  }
  .nav__menu a {
    text-decoration: none;
    margin-left: 40px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 15px;
    margin-top: 35px;
    color: #a5a5a5;
  }
  .nav__menu a:hover {
    color: black;
    border-bottom: 2px solid #08a6e4;
  }
  .container__button {
    width: 30%;
  }
  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .icons__person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icons__person--infom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: colum;
            flex-direction: colum;
  }
  .icons__eye {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icons--infom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: colum;
            flex-direction: colum;
  }
  .icons__catalogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icons--infom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .firstContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: 5%;
  }
  .firstContainer__content {
    width: 50%;
    height: 50%;
    margin-top: 100px;
    border-bottom: 3px solid #fb3b64;
  }
  .secondContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 5%;
  }
  .secondContainer__image {
    margin-right: 200px;
  }
  .secondContainer__content {
    width: 100%;
    height: 50%;
    margin-top: 30px;
    border-bottom: 3px solid #08a6e4;
  }
  .thirdContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 5%;
  }
  .thirdContainer__content {
    width: 50%;
    border-bottom: 3px solid #55dfb4;
    margin-bottom: 40px;
  }
  .thirdContainer__image {
    width: 50%;
    margin-left: 10%;
  }
  .finishContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .finishContainer .containerNormal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
    margin-left: 0%;
  }
  .finishContainer .containerNormal .leftCon {
    margin-top: 15px;
    padding: 10px;
    margin-bottom: 10px;
    height: 75px;
    width: 100%;
    text-align: center;
    margin-left: 0%;
  }
  .finishContainer .containerNormal .content {
    width: 175px;
    height: 175px;
    text-align: center;
    margin-left: 5%;
  }
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0%;
  }
  .information .infoPersonal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20%;
    margin-top: 20px;
  }
  .information .infoPersonal .contact {
    width: 300px;
    margin-top: 0px;
    margin-left: 10px;
  }
  .information .infoPersonal .infor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0%;
  }
  .information form {
    width: 100%;
    padding: 30px;
    background-color: white;
  }
  .information form ul input {
    width: 75%;
  }
  .information form ul .dataProtection {
    width: 75%;
  }
}
/*# sourceMappingURL=styles.css.map */